h2 {
  color: pink;
  /* the file successfully displayed the pink header */
}

p {
  text-decoration: line-through;
}

body {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

p.link {
    color: green
}

ul {
 list-style: none;  
}

button {
  background-color: lightblue;
  position: absolute;
  top:50%;
  color: #fff; 
  border-radius:10px; 
  padding:15px;
  min-height:30px; 
  min-width: 120px;
}

textarea {
  min-height: 200px;
  min-width: 200px;
}